form.delete(method='post',  action='/ideas/'+idea.id)
  input(type="hidden", name="_method", value="delete")
  input(type="submit", value='delete')

form.edit(method='post', action='/ideas/#{idea.id}')
  input(type="hidden", name="_method", value="put")
  textarea(name='idea[text]')
    |#{idea.text}
  input(type="submit", value='save')