body {
  padding: 50px;
  font: 24px "Ubuntu", sans-serif;
  color: #E6E0DB;
  background-color: #232323;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

ul {
  list-style-type:none
}

/* CONTAINER */
#content {}

#ideas {
  max-width: 900px;
}
.idea {
  /* TBD */
}

/* CONTROLS */

a.remove {
  float: left;
}
a.add {
  float: right;
}

/* TEXT AREA: glowing and other nice stuff*/
/*
textarea,textarea:focus {
  font: inherit;
  color: inherit;
  resize:none;
  box-sizing: border-box;
  background-color: rgba(1,1,1,0.1);
  width: 100%;

}

textarea{
  opacity: 0.85;
  border-radius: 8px;
  margin:5px 0px 5px 0px;
  padding:10px;
  border:#999 1px solid;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

textarea:focus{
  opacity: 1;
  font: inherit;
  outline:none;
  border:#00B7FF 1px solid;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}*/


/* CODEMIRROR */

.CodeMirror-scroll {
  overflow: visible;
  height: auto;
}

.CodeMirror-lines {
  border-radius: 8px;
  font: 16px "Ubuntu", sans-serif;

  border:rgba(255,255,255,0.25) 1px solid;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);


  box-sizing: border-box;
  background-color: rgba(35,35,35,1);


}

.cm-s-monokai {background: #232323; color: #E6E0DB;}

