extends ../layout

block content
  div#new
    a.create(href="#") create

  ul#ideas(data-bind='template: { name: "ideaTmpl", foreach: ideas, afterRender: applyCodeMirror }')

  script(id="ideaTmpl", type="text/html")
    |<li class="idea">
    |      <a class="remove" href="#"> - </a>
    |      <a class="add" href="#"> + </a>
    |      <textarea data-bind="value: text, valueUpdate: 'afterkeydown'"></textarea>
    |      <ul data-bind='template: { name: "ideaTmpl", foreach: children, afterRender: ideaMMVCmodel.applyCodeMirror }'></ul>
    |  </li>
